<div class="card large dashboard">
  <div class="d-flex justify-content-between">
    <div class="card-body">
      <div class="d-inline-flex">
        <h5 class="card-title light-gray">> user.</h5>
        <h5 class="card-title orange">rank</h5>
      </div>
      <p class="text-center">1st</p>
      <p class="text-center">120 pts</p>
    </div>
    <div class="card-body">
      <div class="d-inline-flex">
        <h5 class="card-title light-gray">> user.</h5>
        <h5 class="card-title orange">project</h5>
      </div>
      <p>
        <i class="fab fa-github"></i>
        <a href="https://github.com/marcm8793/commit-game">my_project_name</a>
      </p>
      <div class="d-inline-flex">
        <p class="light-gray">> commit.</p>
        <p class="orange">count</p>
        <p class="light-red">&nbsp;&nbsp;&nbsp;# => 18</p>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="d-inline-flex">
      <h5 class="card-title light-gray">> user.</h5>
      <h5 class="card-title orange">tasks</h5>
    </div>
    <div class="progress">
      <div class="progress-bar bg-warning" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35% completed</div>
    </div>
  </div>
  <div class="card-body">
    <div class="d-inline-flex">
      <h5 class="card-title light-gray">>&nbsp;</h5>
      <h5 class="card-title lightblue"><%= @arena.name %></h5>
      <h5 class="card-title light-gray">.</h5>
      <h5 class="card-title orange">weeks</h5>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-weeks bg-secondary" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35% completed</div>
    </div>
  </div>
</div>
