<div class="card small dashboard">
  <div class="card-body">
    <%= image_tag "coupe.svg" %>
  </div>
    <div class="card-body d-flex justify-content-center">
      <h1><span class="badge bg-secondary"><%= @arena.prize %> €</span></h1>
    </div>
</div>
