<div class="card small dashboard">
  <div class="card-body">
    <div class="d-inline-flex">
      <h5 class="card-title light-gray">>&nbsp;</h5>
      <h5 class="card-title lightblue">Range</h5>
      <h5 class="card-title light-gray">: :</h5>
      <h5 class="card-title orange">new</h5>
    </div>
      <p>Ranking</p>
  </div>
</div>
