// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// our personal colors
$darkblue: #102143;
$duckblue: #1B4F69;
$lightblue: #33ADBF;
$orange: #EE9F2D;
$purple: #8254DE;
