<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= render 'shared/arena_player_kpis' %>
<%= render 'shared/arena_player_chat' %>
<%= render 'shared/arena_player_projects' %>
<%= render 'shared/arena_player_tasks' %>
<p>......</p>
<p>......</p>
<p>......</p>
<p>......</p>
<p>......</p>
<p>......</p>
<p>......</p>
<p>......</p>
<p>......</p>
<p>......</p>
<p>......</p>
<p>......</p>
<p>......</p>
<p>......</p>
<p>......</p>
<p>......</p>
<p>......</p>
<p>......</p>
<p>......</p>
<p>......</p>
<p>......</p>
<p>......</p>
</div>
