.card {
  display: flex;
  padding-left: ($spacer * 1) !important;
  padding-right: ($spacer * 1) !important;
  padding-top: ($spacer * 1) !important;
  padding-bottom: ($spacer * 1) !important;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  overflow: auto;
}

.dashboard {
  height: 360px;
}

.small {
  flex: 0 0 25%;
}

.large {
  flex: 0 0 50%;
}

.pic {
  border-radius: 30px !important;
}

.button_radius {
  border-radius: 40px;

.messages {
  overflow: unset !important;
  gap: 1rem;
  #messages{
    height: 80%;
    overflow: scroll;
  }
  .submit-message{
    height: auto;
  }
}
