.card {
  display: flex;
  padding-left: ($spacer * 1) !important;
  padding-right: ($spacer * 1) !important;
  padding-top: ($spacer * 1) !important;
  padding-bottom: ($spacer * 1) !important;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  overflow: auto;
}

.dashboard {
  height: 360px;
}

.small {
  flex: 0 0 25%;
}

.no-overflow {
  overflow: unset !important;
}

.large {
  flex: 0 0 50%;
}

.prize {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
}

.pic {
  border-radius: 30px !important;
  width: 400px;
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pic-prize {
  border-radius: 30px !important;
}

.button_radius {
  border-radius: 40px;
}

.messages {
  overflow: unset !important;
  gap: 1rem;
  #messages {
    height: 80%;
    overflow: scroll;
  }
  .submit-message {
    height: auto;
  }
}

.filter_card {
  display: flex;
  padding-left: ($spacer * 1) !important;
  padding-right: ($spacer * 1) !important;
  padding-top: ($spacer * 1) !important;
  padding-bottom: ($spacer * 1) !important;
  border-radius: 80px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  overflow: auto;
  margin-bottom: 60px;
}

.form-control {
  border: none;
  color: black;
}
