.orange {
  color: $orange;
}

.darkblue {
  color: $darkblue;
}

.duckblue {
  color: $duckblue;
}

.lightblue {
  color: $lightblue;
}

.purple {
  color: $purple;
}

.light-gray {
  color: $light-gray;
}

.light-red {
  color: $light-red;
}
