// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "barfilter";
@import "card";
@import "color";
@import "flash";
@import "footer";
@import "form_legend_clear";
@import "navbar";
@import "kpicard";
@import "rankingcard";

body {
  background: rgb(16, 33, 67);
  background: linear-gradient(
    30deg,
    rgba(16, 33, 67, 1) 8%,
    rgba(16, 33, 67, 1) 46%,
    rgba(20, 50, 81, 1) 65%,
    rgba(27, 79, 105, 1) 77%,
    rgba(29, 113, 110, 1) 100%
  );
  min-height: 100%;
  background-size: cover;
  height: 100vh;
  padding-top: 56px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
