// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "footer";
@import "navbar";

body {
  background: rgb(16, 33, 67);
  background: linear-gradient(
    30deg,
    rgba(16, 33, 67, 1) 8%,
    rgba(16, 33, 67, 1) 46%,
    rgba(20, 50, 81, 1) 65%,
    rgba(27, 79, 105, 1) 77%,
    rgba(29, 113, 110, 1) 91%,
    rgba(40, 135, 152, 1) 100%
  );
  min-height: 100%;
  background-size: cover;
  height: 100vh;
}
